/*---------- GENERAL ----------*/

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* list-style: none; */
  box-sizing: border-box;
  transition: 0.25s;
}

header {
  border-bottom: black solid;
  height: 75px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  height: 65px;
  float: left;
}

.aboutIco {
  height: 65px;
  float: right;
  margin-right: 10px;
}

main {
  min-height: 61vh;
}

.buttons {
  margin-top: 10px;
  width: 150px;
  margin-right: 5px;
}

/*---------- DIALOG ----------*/

.dialog {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialogContent {
  background-color: #3d3d3d;
  color: #fff;
  margin: 15% auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  width: 400px;
}

/*---------- MODAL ----------*/

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContent {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  width: 80%;
}

#keyBindingTableEdit {
  width: 100%;
}

.keyBindingTableSkin {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.keyBindingTableSkin td,
.keyBindingTableSkin th {
  border: 1px solid #ddd;
  padding: 4px;
  font-size: 14px;
}

.keyBindingTableSkin tr:nth-child(even) {
  background-color: #f2f2f2;
}

.keyBindingTableSkin tr:hover {
  background-color: #ddd;
  transition: 0.1s;
}
.keyBindingTableSkin th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  color: white;
}

.keyBindingTableSkin input {
  width: 20px;
  text-align: center;
}

/*---------- KEY BINGING ----------*/

.keyBinding {
  width: 50%;
  float: left;
}

#keyBindingTable {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#keyBindingTable td,
#keyBindingTable th {
  border: 1px solid #ddd;
  padding: 4px;
  font-size: 14px;
}

#keyBindingTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#keyBindingTable tr:hover {
  background-color: #ddd;
  transition: 0.1s;
}

#keyBindingTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  color: white;
}

/*---------- PICTURE ----------*/

.keyBindingPicture {
  width: 50%;
  float: right;
}

.keyBindingPicture h3 {
  margin-left: 40px;
}

#drumKit img {
  max-width: 100%;
  max-height: 450px;
  border: black solid 4px;
}

#drumKit figcaption {
  font-style: italic;
  font-size: 14px;
}

/*---------- SECTION ----------*/

section {
  display: inline-block;
  margin-top: 20px;
  background-color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: white;
}

.kickIt p {
  margin: 0px;
}

/*---------- FOOTER ----------*/

footer {
  margin-top: 20px;
  border-top: black solid;
  text-align: center;
  font-size: 10px;
}

.logoFooter {
  height: 20px;
  margin-top: 15px;
  margin-bottom: -5px;
}

/*---------- ABOUT ----------*/

#aboutContent {
  text-align: center;
  margin: 30px auto;
}

#aboutContent h3 {
  margin-top: 20px;
}

#aboutContent ul {
  padding: 0px;
}

/*---------- RESPONSIVE ----------*/

@media screen and (max-width: 1300px) {
  .keyBinding {
    float: none;
    width: 80%;
    margin: auto;
  }

  .keyBindingPicture {
    float: none;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .keyBindingPicture h3 {
    text-align: left;
    margin-left: 0px;
  }

  #drumKit img {
    max-height: 550px;
  }
}

@media screen and (max-width: 650px) {
  header {
    height: 55px;
  }

  .logo {
    height: 45px;
  }

  .aboutIco {
    height: 50px;
  }

  .keyBinding {
    width: 95%;
  }

  .keyBindingPicture {
    width: 95%;
  }

  #aboutContent {
    max-width: 80%;
  }
}
